.navbar {
font-family: 'Big Shoulders Display', cursive;  
}
.navbar > .navbar-collapse > .navbar-nav a {
    color: white;
}
.navbar > .navbar-collapse > .navbar-nav a:hover {
    color: gray;  
}
.fa-angle-double-down {
color: white;
}

.title_jumbotron {
    text-align: center;
    background: none;
    color: white;
    background-position: center;
    background-size: 50%  
}
.title_jumbotron > .container p {
    font-family: 'Big Shoulders Display', cursive;  
}
.title_jumbotron > .container h1 {
    font-family: 'Bungee', cursive;
}

body, html {
    height: 100%;
  }
  .parallax { 
    background-image: url(../assets/imageedit_1_3879828927.png);
    background-color: black;
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }